*,
*::before,
*::after {
    box-sizing: border-box;
}

.slidedImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: block;
    flex-shrink: 0;
    flex-grow: 0;
    transition: translate 300ms ease-in-out;
}
/*display ?? */
.but {
    all: unset;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.but:hover > * ,
.but:focus-visible > * {
    animation: squish 200ms ease-in-out;
}

.but > * {
    stroke: white;
    fill: black;
}

.but:hover,
.but:focus-visible{
    background-color: rgb(0,0,0, 0.2);
}

.slider-but-dot {
    all: unset;
    display: block;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    transition: scale 100ms ease-in-out;
}

.slider-but-dot > * {
    stroke: white;
    fill: black;
    height: 100%;
    width: 100%;
}

.slider-but-dot:hover,
.slider-but-dot:focus-visible {
    scale: 1.2;
}

.but:focus-visible,
.slider-but-dot:focus-visible {
    outline: auto;
}


@keyframes squish {
    50% {
        scale: 1.4 0.6;
    }
}